@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-deep: #050505;
  --color-brand-dark: #1f2937;
  --color-brand-primary: #ccdac5;
  --color-brand-soft: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #fdffff; 
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --popover: #ffffff;
  --popover-foreground: #0f172a;
  --primary: #06b6d4; 
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6; 
  --secondary-foreground: #0f172a;
  --muted: #f8fafc;
  --muted-foreground: #6b7280;
  --accent: #06b6d4aa; 
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --border: #e5e7eb; 
  --input: #f9fafb;
  --ring: rgba(59,130,246,0.5); 
  --chart-1: #06b6d4;
  --chart-2: #3b82f6;
  --chart-3: #8b5cf6; 
  --chart-4: #f59e0b;
  --chart-5: #ef4444;
  --sidebar: #ffffff;
  --sidebar-foreground: #0f172a;
  --sidebar-primary: #06b6d4;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f59e0b;
  --sidebar-accent-foreground: #0f172a;
  --sidebar-border: #e5e7eb;
  --sidebar-ring: rgba(59,130,246,0.5);
}

.dark {

  --background: #010101;  
  --foreground: #ffffff;
  --card: #0e0e0e;
  --card-foreground: #ffffff;
  --popover: #0b1220; 
  --popover-foreground: #ffffff;
  --primary: #28cdff;
  --primary-foreground: #ffffff;
  --secondary: #1f2937;
  --secondary-foreground: #ffffff;
  --muted: #111827;
  --muted-foreground: #9ca3af;
  --accent: #ffffff;   
  --accent-foreground: #0f172a;
  --destructive: #ef4444;
  --border: rgba(255,255,255,0.08);
  --input: rgba(255,255,255,0.06);
  --ring: rgba(59,130,246,0.56);
  --chart-1: #06b6d4;
  --chart-2: #3b82f6;
  --chart-3: #8b5cf6;
  --chart-4: #f59e0b;
  --chart-5: #ef4444;
  --sidebar: #0b1220;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #06b6d4;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f59e0b;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: rgba(255,255,255,0.08);
  --sidebar-ring: rgba(59,130,246,0.56);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}